<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>671999771471-294r7gkghml9en0qhl1odbdar389sgct.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.671999771471-294r7gkghml9en0qhl1odbdar389sgct</string>
	<key>API_KEY</key>
	<string>AIzaSyC-wkmW8dnBaaYawOR28gKrdIAVVbDgyuA</string>
	<key>GCM_SENDER_ID</key>
	<string>671999771471</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loans</string>
	<key>PROJECT_ID</key>
	<string>my-loans-143ef</string>
	<key>STORAGE_BUCKET</key>
	<string>my-loans-143ef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:671999771471:ios:103502c79ce2cef5be7b3a</string>
</dict>
</plist>